body,h1,h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}
a { text-decoration: none;}

img { display: block; max-width: 100%;}

* { box-sizing: border-box;}
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu-nav ul  {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}
.menu-nav a:hover {
  color:#122ab2 ;
} 

.hero-bg {
  background-image: url("/pretitos/html/images/hero-pretito.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-principal {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-flow: column;
  padding-right: 400px;
  padding-top: 60px;
  color: white;
}

.hero-principal h1 {
  font-family: Hanuman, 'Times New Roman', Times, serif;
  font-size: 2.25em;
  font-weight: 900;
}
.hero-principal > *{

  margin-bottom: 36px ;

}
.hero-principal p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.hero-principal a { display: block ;
                    color: white;
                    background-color: #322E2B;
                    max-width: 290px;
                    padding: 20px 40px;
                    font-weight: 500;
                    text-align: center;
                  }